/* right-side top trending popular lists */
#top-list {
  width: 20%; height: 100%;
  overflow-y: scroll;
}

.col-md-6, .col-md-9, .col-md-4 {
  padding: 0;
}

#mega {
  overflow-y: auto;
}

/* Calendar styling */
.fc-event-container:hover {
  cursor: pointer;
}