* {
  color: white;
}

@media(min-width:960px) {
  #movies .col-md-3 .well {
    height: 390px;
  }

  #movies .col-md-3 img {
    height: 240px;
  }
}


/* Fancy effect on navbar links: */
.fancy-link {
  text-decoration: none;
  position: relative;
}

.fancy-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: currentColor;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  transition: -webkit-transform 250ms ease-in;
  transition: transform 250ms ease-in;
  transition: transform 250ms ease-in, -webkit-transform 250ms ease-in;
}

.fancy-link:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}


/* Set background: */
body {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#a90329+0,8f0222+44,6d0019+100;Brown+Red+3D */
  background: #a90329; /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover,  #a90329 0%, #8f0222 44%, #6d0019 100%); /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

body {
  min-width: 100%;
  min-height: 100%;

  margin: 0;
  box-sizing: border-box;
}

#search-box {
  margin-top: 15%;
}

#search-box > h3 {
  margin-bottom: 2rem;
}

#partial-search-result {
  width: 100%;
  max-height: 50vh;
  overflow-y: scroll;
}

span[class^="movie"] {
  color: black;
}

#partial-info .list-group-item:hover {
  background-color: lightgray;
}

#search-btn, li.list-group-item, .col-md-3 > .well {
  cursor: pointer;
}

/* Movie poster size */
#partial-info .list-group .list-group-item .movie-poster img, #top-list .list-group .movie-poster img {
  width: 8%;
  height: 16%;
}

/* right-side top trending popular lists */
#top-list {
  width: 20%; height: 100%;
  overflow-y: scroll;
}