@media(min-width:960px) {
  #movies .col-md-3 .well {
    height: 390px;
  }

  #movies .col-md-3 img {
    height: 240px;
  }
}

body {
  min-width: 100vw;
  min-height: 100vh;
}

#partial-search-result {
	width: 100%;
}

#partial-info .list-group .list-group-item span[class^="movie-"] {
  margin-right: 1em;
}

/* Movie poster size */
#partial-info .list-group .list-group-item .movie-poster img, #top-list .list-group .movie-poster img {
  width: 8%;
  height: 16%;
}

.align-root-div {
  position: fixed;
  top: 0px; left: 0px;
  width: 80%; height: 100%;
  box-sizing: border-box;
}

/* right-side top trending popular lists */
#top-list {
  position: fixed;
  top: 0px; right: 0px;
  width: 20%; height: 100%;
  overflow-y: scroll;
  border: 1px solid white;
}
