/* Import Poppins font from google fonts CDN*/
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

html *
{
  font-family: 'Poppins', sans-serif;
  color: var(--light);
}

body {
  min-width: 100%;
  min-height: 100vh;
  
  background: radial-gradient(ellipse at bottom, #1b2735 0%,#090a0f 100%);
}

#particles-js {
  height: 100%;
  width: 100%;
  position: fixed;
}

ul > li.nav-item:hover {
  border-radius: 0.25rem;
  background-color: rgba(255,255,255,0.2);
}

#carousel-effect {
  margin-bottom: 10vh;
}


/* ------------ Login button ------------- */

@media only screen and (min-width: 768px) {
  .netlify-identity-button {
    padding: 1rem 2rem;
  }
}

a.netlify-identity-button {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
}
/* ------------ END: Login button ------------- */


a.navbar-brand {
  margin-right: 2rem;
}

a.navbar-brand > img {
  margin-right: 0.5rem;
}