#search-box {
  margin-top: 10%;
}

#partial-search-result {
  width: 60%;
  max-height: 50vh;
  margin: 0.125rem auto;
  overflow-y: auto;
}

#partial-info .list-group-item:hover {
  background-color: lightgray;
}

.card >.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.75);
  transition: 0.1s ease-in-out;
  padding: 0.125rem;
  z-index: -1;
  opacity: 0;
}

.card:hover > .overlay {
  z-index: 1;
  opacity: 1;
}

.card > .overlay p {
  text-transform: uppercase;
}

ul#full-info {
	list-style: none;
	border: 0;
}

/*************************************
Build the scene and rotate on hover
**************************************/

.scene {
	width: 185px;
	height: 278px;
	margin: 32px;
	float: left;
	-webkit-perspective: 1000px;
	-moz-perspective: 1000px;
	perspective: 1000px;
}

.movie {
	width: inherit;
	height: inherit;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transform: translateZ(-130px);
	-moz-transform: translateZ(-130px);
	transform: translateZ(-130px);
	-webkit-transition: -webkit-transform 350ms;
	-moz-transition: -moz-transform 350ms;
	transition: transform 350ms;
}

.movie:hover {
	-webkit-transform: rotateY(-78deg) translateZ(20px);
	-moz-transform: rotateY(-78deg) translateZ(20px);
	transform: rotateY(-78deg) translateZ(20px);
}

.movie:hover .poster {
	opacity: 0.8;
}

/*************************************
Transform and style the two planes
**************************************/

.movie .poster, 
.movie .info {
	position: absolute;
	width: inherit;
	height: inherit;
	background-color: #fff;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
}

.movie .poster  {
	-webkit-transform: translateZ(90px);
	-moz-transform: translateZ(90px);
	transform: translateZ(90px);
	background-size: cover;
	background-repeat: no-repeat;
}

.movie .info {
	-webkit-transform: rotateY(90deg) translateZ(90px);
	-moz-transform: rotateY(90deg) translateZ(90px);
	transform: rotateY(90deg) translateZ(90px);
	border: 1px solid #B8B5B5;
	font-size: 0.75em;
}

/*************************************
Shadow beneath the 3D object
**************************************/

.movie::after {
	content: '';
	width: inherit;
	height: inherit;
	position: absolute;
	bottom: 0;
	box-shadow: 0 30px 50px rgba(0,0,0, 0.2);
	-webkit-transform-origin: 100% 100%;
	-moz-transform-origin: 100% 100%;
	transform-origin: 100% 100%;
	-webkit-transform: rotateX(90deg) translateY(90px);
	-moz-transform: rotateX(90deg) translateY(90px);
	transform: rotateX(90deg) translateY(90px);
	-webkit-transition: box-shadow 350ms;
	-moz-transition: box-shadow 350ms;
	transition: box-shadow 350ms;
}

.movie:hover::after {
	box-shadow: 20px -5px 50px rgba(0,0,0,0.3);
}

/*************************************
Movie information
**************************************/

.info header {
	color: #FFF;
	padding: 7px 10px;
	font-weight: bold;
	height: 169px;
	background-size: contain;
	background-repeat: no-repeat;
	text-shadow: 0px 1px 1px rgba(0,0,0,1);
}

.info header h1 {
	margin: 0 0 2px;
	font-size: 1.4em;
}

.info header .rating {
	border: 1px solid #FFF;
	padding: 0px 3px;
}

/*************************************
Generate "lighting" using box shadows
**************************************/

.movie .poster,
.movie .info,
.movie .info header {
	-webkit-transition: box-shadow 350ms;
	-moz-transition: box-shadow 350ms;
	transition: box-shadow 350ms;
}

.movie .poster {
	box-shadow: inset 0px 0px 40px rgba(255,255,255,0);
}

.movie:hover .poster {
	box-shadow: inset 300px 0px 40px rgba(255,255,255,0.8);
}

.movie .info, 
.movie .info header {
	box-shadow: inset -300px 0px 40px rgba(0,0,0,0.5);
}

.movie:hover .info, 
.movie:hover .info header {
	box-shadow: inset 0px 0px 40px rgba(0,0,0,0);
}