#search-box {
  margin-top: 10%;
}

#partial-search-result {
  width: 68%;
  max-height: 50vh;
  margin: 0.125rem auto;
  overflow-y: auto;
}

#partial-info .list-group-item:hover {
  background-color: lightgray;
}

.card >.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.75);
  transition: 0.1s ease-in-out;
  padding: 0.125rem;
  z-index: -1;
  opacity: 0;
}

.card:hover > .overlay {
  z-index: 1;
  opacity: 1;
}

.card > .overlay p {
  text-transform: uppercase;
}

ul#full-info {
	list-style: none;
	border: 0;
}

#root-div .row {
  margin-bottom: 5rem;
}

/*************************************
Build the scene and rotate on hover
**************************************/

.scene {
	width: 185px;
	height: 278px;
	margin: 32px;
	float: left;
	-webkit-perspective: 1000px;
	-moz-perspective: 1000px;
	perspective: 1000px;
}

.movie {
	width: inherit;
	height: inherit;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transform: translateZ(-130px);
	-moz-transform: translateZ(-130px);
	transform: translateZ(-130px);
	-webkit-transition: -webkit-transform 350ms;
	-moz-transition: -moz-transform 350ms;
	transition: transform 350ms;
}

.movie:hover {
	-webkit-transform: rotateY(-78deg) translateZ(20px);
	-moz-transform: rotateY(-78deg) translateZ(20px);
	transform: rotateY(-78deg) translateZ(20px);
}

.movie:hover .poster {
	opacity: 0.8;
}

/*************************************
Transform and style the two planes
**************************************/

.movie .poster, 
.movie .info {
	position: absolute;
	width: inherit;
	height: inherit;
	background-color: #fff;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
}

.movie .poster  {
	-webkit-transform: translateZ(90px);
	-moz-transform: translateZ(90px);
	transform: translateZ(90px);
	background-size: cover;
	background-repeat: no-repeat;
}

.movie .info {
	-webkit-transform: rotateY(90deg) translateZ(90px);
	-moz-transform: rotateY(90deg) translateZ(90px);
	transform: rotateY(90deg) translateZ(90px);
	border: 1px solid #B8B5B5;
	font-size: 0.75em;
}

/*************************************
Shadow beneath the 3D object
**************************************/

.movie::after {
	content: '';
	width: inherit;
	height: inherit;
	position: absolute;
	bottom: 0;
	box-shadow: 0 30px 50px rgba(0,0,0, 0.2);
	-webkit-transform-origin: 100% 100%;
	-moz-transform-origin: 100% 100%;
	transform-origin: 100% 100%;
	-webkit-transform: rotateX(90deg) translateY(90px);
	-moz-transform: rotateX(90deg) translateY(90px);
	transform: rotateX(90deg) translateY(90px);
	-webkit-transition: box-shadow 350ms;
	-moz-transition: box-shadow 350ms;
	transition: box-shadow 350ms;
}

.movie:hover::after {
	box-shadow: 20px -5px 50px rgba(0,0,0,0.3);
}

/*************************************
Movie information
**************************************/

.info * {
  color: var(--dark);
}

.info header {
	height: 110px;
	background-size: contain;
	background-repeat: no-repeat;
	text-shadow: 0px 1px 1px rgba(0,0,0,1);
}

button.view-more-info__btn {
  position: absolute;
  bottom: 0;
  padding: 1rem 0;
  transition: all 0.2s ease-in-out;
}

button.view-more-info__btn:hover {
  font-size: large;
  text-decoration: underline;
}

/*************************************
Generate "lighting" using box shadows
**************************************/

.movie .poster,
.movie .info,
.movie .info header {
	-webkit-transition: box-shadow 350ms;
	-moz-transition: box-shadow 350ms;
	transition: box-shadow 350ms;
}

.movie .poster {
	box-shadow: inset 0px 0px 40px rgba(255,255,255,0);
}

.movie:hover .poster {
	box-shadow: inset 300px 0px 40px rgba(255,255,255,0.8);
}

.movie .info, 
.movie .info header {
	box-shadow: inset -300px 0px 40px rgba(0,0,0,0.5);
}

.movie:hover .info, 
.movie:hover .info header {
	box-shadow: inset 0px 0px 40px rgba(0,0,0,0);
}

/* ---------- START: Fancy search box ------------ */

#searchForm {
  display: flex;
  justify-content: center;
}

.fancy_search_container {
	display: flex;
	flex: 0 0 70%;
  position: relative;
  margin-top: 1rem;
}

.fancy_search_container .search {
  position: absolute;
  margin: auto;
  top: 0; bottom: 0;
  right: 0; left: 0;
  width: 4rem; height: 4rem;
  background: crimson;
  border-radius: 50%;
  transition: all 1s;
  z-index: 4;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
}

.fancy_search_container .search:hover {
  cursor: pointer;
}

.fancy_search_container .search::before {
  content: "";
  position: absolute;
  margin: auto;
  top: 22px;
  right: 0;
  bottom: 0;
  left: 22px;
  width: 12px;
  height: 2px;
  background: white;
  transform: rotate(45deg);
  transition: all .5s;
}

.fancy_search_container .search::after {
  content: "";
  position: absolute;
  margin: auto;
  top: -5px;
  right: 0;
  bottom: 0;
  left: -5px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid white;
  transition: all .5s;
}

.fancy_search_container input {
  flex: 0 0 50%;
  font-family: 'Inconsolata', monospace;
  height: 3rem;
  outline: none;
  border: none;
  border-radius: inherit;
  background: crimson;
  color: white;
  text-shadow: 0 0 10px crimson;
  padding: 0 2rem 0 2rem;
  transition: opacity 1s;
  opacity: 0;
  z-index: 5;
  font-weight: bolder;
  letter-spacing: 0.1em;
}

.fancy_search_container.open input, .fancy_search_container.open .input-group {
  opacity: 1;
}

.fancy_search_container.open input {
  cursor: text;
}
.fancy_search_container.open .input-group span#search-btn {
  cursor: pointer;
}

.fancy_search_container.open .search {
  left: 97%;
  background: #1b2735;
  z-index: 6;
}
.fancy_search_container.open .search::before {
  top: 0;
  left: 0;
  width: 25px;
}
.fancy_search_container.open .search::after {
  top: 0;
  left: 0;
  width: 25px;
  height: 2px;
  border: none;
  background: white;
  border-radius: 0%;
  transform: rotate(-45deg);
}
.fancy_search_container input::placeholder {
  color: #1b2735;
  opacity: 0.5;
  font-weight: bolder;
}

.fancy_search_container .input-group {
  transition: opacity 0.5ms;
  opacity: 0;
  border-radius: 2rem 0 0 2rem;
  box-shadow: 0 0 25px 0 crimson, 0 20px 25px 0 rgba(0, 0, 0, 0.2);
}

.fancy_search_container .input-group span#search-btn {
	padding-right: 30px;
}

.input-group-text {
  z-index: 5;
  font-weight: bolder;
  letter-spacing: .1em;
  height: 3rem;
  outline: 0;
  border: none;
  background: #dc143c;
  color: #fff;
}
/* ---------- END: Fancy search button ------------ */